@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
body{
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    color: #d9b44a;
    height: 98vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #acd0c0;
}
#body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid grey; */
    border-radius: 30px;
    margin: 50px;
    /* box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.5),
    6px 6px 10px rgba(0, 0, 0, 0.1); */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; 
    background-color: #f1f1f2;
}
#screen{
    width: 368px;
    height: 123px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 50px;
    margin: 20px;
    background-color: #f1f1f2;
}
#secondRow, #thirdRow, #fourthRow, #fifthRow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#firstRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #47fad9;
}
#buttons, .ac, .delete, .dot{
    padding: 10px;
    background-color: #4f6457;
    border-radius: 30px;
}
.button:hover, .buttonDigit:hover, .ac:hover, .delete:hover, .dot:hover{
    background-color: #dfc7c7;
}
.button, .buttonDigit, .ac, .delete, .dot{
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    background-color: #75b1a9;
    transition: 0.2s linear;
}
#clear, #delete{
    width: 162px;
}
#divide, #multiply, #subtract, #add{
    color: #eb6464;
}
#one, #two, #three, #four, #five, #five, #six, #seven, #eight, #nine, #zero, #dot, #equals{
    color: gray;
}